.timer {
    padding: 3em 0 0 0;
}

.timerlabel {
    font-family: Mona Sans;
    font-size: 10.24px;
    font-weight: 400;
    line-height: 14.34px;
    letter-spacing: 0.02em;
    text-align: center;
}

.time {
    font-family: Archivo;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin: 0 0 12px 0;
}

.progress-wrapper {
    background: #e0e0e0;
    border-radius: 4px;
    height: 8px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.progress-bar {
    background: linear-gradient(126.9deg, #FC1777 -9.7%, #3A86FF 140.79%);
    height: 100%;
    border-radius: 4px;
    transition: width 0.5s ease-in-out;
}